﻿@model VirtualAdvocate.Models.LoginModel
@{
    //ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>SIGN IN</h2>
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "showProgress()" }))
{
    @Html.AntiForgeryToken()
<hr />
<div class="row">

    <div class="col-lg-12" >
        <div class="well bs-component">
            <fieldset>
                <legend>Sign In to your Virtual Advocate Account</legend>
                <div class="alert-box errorMsg" >
                  <span class="text-danger">@TempData["ErrorMessage"]</span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.EmailAddress, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-lg-4 control-label" })
                    <div class="col-lg-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = 20 })
                        @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger" })
                    </div>
                </div>
               
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                  
                       
                  
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Registration", "UsersRegistration")">Register</a>
                    </div>
               </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <a href="@Url.Action("ForgotPassword", "UsersRegistration")" >Forgot Password?</a>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <a href="@Url.Action("ResetPassword", "UsersRegistration")">Reset Password</a>
                    </div>
                </div>*@
            </fieldset>
        </div>
    </div>

    
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}