﻿@model VirtualAdvocate.Models.DueDiligenceEnquiryViewModel
@{
    ViewBag.MenuActive = "DueDiligenceList";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Enquiry Reply</h2>
@using (Html.BeginForm("InquiryReply", "DueDiligence", FormMethod.Post, new { @class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" href="~/Content/themes/base/datepicker.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.Label("Enquiry Type", new { @class = "col-lg-6 control-label" })
                    <div class="col-lg-6">
                        @Html.DropDownListFor(m => m.EnquiryTypeId, new SelectList(Model.getAllEnquiryType, "ID", "Name"), "-Select-", new { @class = "form-control", @disabled="disabled" })                      
                    </div>
                </div>
            </div>
        </div>
        <div class="well bs-component" id="company" style="display:none">
            <fieldset>
                <legend>Enquiry For Companies</legend>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.Label("Company Name", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control",  @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Registered Company Name", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.CompanyRegName, new { @class = "form-control", @placeholder = "Registered Company Name", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="col-lg-12" id="business" style="display:none">
        <div class="well bs-component">
            <fieldset>
                <legend>Enquiry For Business</legend>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.Label("Company Name", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @placeholder = "Business Name", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-12" id="land" style="display:none">
        <div class="well bs-component">
            <fieldset>
                <legend>Enquiry For Land</legend>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.Label("Certificate Title Number", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.CertificateTitleNo, new { @class = "form-control", @placeholder = "Certificate Title Number", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Plot Number", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.PlotNumber, new { @class = "form-control", @placeholder = "Plot Number", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Block Number", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.BlockNumber, new { @class = "form-control", @placeholder = "Block Number", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.Label("Area", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @placeholder = "Area", @disabled = "disabled" })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Municipality", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.Municipality, new { @class = "form-control", @placeholder = "Municipality", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Region", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.Region, new { @class = "form-control", @placeholder = "Region", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-lg-12" >
        <div class="well bs-component">
            <fieldset>
                <legend>Reply Mail with Time and Cost</legend>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.HiddenFor(m=>m.EnquiryId)
                            @Html.Label("Date", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.TimeLine, new { @class = "form-control date-input", @Value=Model.TimeLine.HasValue ? Model.TimeLine.Value.ToString("MM/dd/yyyy"):"" })
                                @Html.ValidationMessageFor(m => m.TimeLine, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Cost", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.Cost, new { @class = "form-control", @placeholder = "Cost",@readonly="readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            @{
                var lbl = "Back";
            }
            @if (Model.ReplyStatus != true)
            {
                lbl = "Cancel";
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            }
            <div class="">
                <button type="button" value="@lbl" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("InquiryList","DueDiligence")'">@lbl</button>
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryUI")
    <script type="text/javascript">
        $(document).ready(function () {            
            if( $("#TimeLine").val()==""){
                DateVal();
            }
                      
            var date = new Date();
            var currentMonth = date.getMonth();
            var currentDate = date.getDate();
            var currentYear = date.getFullYear();
                $('#TimeLine').datepicker({
                    minDate: new Date(currentYear, currentMonth, currentDate)
                });

        if ($("#EnquiryTypeId").val() == 1) {
            $("#business").show();
            $("#company").hide();
            $("#land").hide();
        } else if ($("#EnquiryTypeId").val() == 2) {
            $("#business").hide();
            $("#company").show();
            $("#land").hide();
        } else if ($("#EnquiryTypeId").val() == 3) {
            $("#business").hide();
            $("#company").hide();
            $("#land").show();
        }
        else {
            $("#business").hide();
            $("#company").hide();
            $("#land").hide();
        }

        $(function () {

            $('input[name="EnquiryTypeId"]').rules('add', {
                required: true,
                messages: {
                    required: "Please Select The Enquiry Type"
                }
            });

        });


        function DateVal() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var fd = dd - 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (fd < 10) {
                fd = '0' + fd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            var startday = mm + '/' + fd + '/' + yyyy;
            var endday = mm + '/' + dd + '/' + yyyy;
            $("#TimeLine").val(startday);
        }
    });

    </script>

}