﻿
@model VirtualAdvocate.Models.OrganizationViewModel
@{
    ViewBag.MenuActive = "Organization";
    //ViewBag.Title = "Manage Organization";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>MANAGE ORGANIZATION</h2>

@using (Html.BeginForm("ManageOrganization", "UsersManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "showProgress()" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @*<div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddOrgUser", "UsersManagement")'"><i class="fa fa-user-plus"></i> Add User</button>
        </div>
        <div class="col-md-9">
            <div class="navbar-form navbar-right" role="search">
               <div class="form-group">
                        @*<input type="text" class="form-control" placeholder="Search">
                   
                    </div>
                  <button type="submit" class="btn btn-default">Submit</button>&nbsp;
               <button type="submit" class="btn btn-default"><i class="fa fa-download"></i> Download</button>
            </div>

        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <legend>Organizational Membership Type</legend>
                    <div class="form-group">
                       
                        <div class="col-lg-6 form-inline">
                            @{
                                var disable = "";
                                if (Model.UserAccountsType == 2)
                                {
                                    disable = "disabled";
                                }
                                else
                                {
                                    disable = "";
                                }
                                var htmlAttributes = new Dictionary<string, object>();
                                if (Model.UserAccountsType == 2)
                                {
                                    htmlAttributes.Add("disabled", "disabled");
                                    
                                }
                            }
                            @foreach (var acctype in Model.userAccountTypes)
                            {
                                if(Model.UserAccountsType == acctype.UserAccountTypeId)
                                {
                                    htmlAttributes.Add("checked", "true");
                                }
                                else
                                {
                                    htmlAttributes.Remove("checked");
                                }
                                <div class="radio col-lg-6">
                                    <label>
                                        @Html.RadioButtonFor(m => m.UserAccountsType, Convert.ToInt32(acctype.UserAccountTypeId), htmlAttributes) @acctype.UserAccountDescription
                                    </label>
                                </div>
                            }

                            @*<div class="radio col-lg-6">
                                    <label>
                                        @Html.RadioButtonFor(m => m.UserAccountsType, "2", new { @checked = "true" }) Multiple User Account
                                    </label>
                                </div>*@
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <legend>Organizational Details</legend>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.OrganizationId)
                                @Html.HiddenFor(m => m.userId)
                                @Html.LabelFor(m => m.OrgName, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgName, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgEmail, new { @class = "col-lg-4 control-label" })
                                @*<label for="inputEmail" class="col-lg-4 control-label">Email Address</label>*@
                                <div class="col-lg-6">
                                    @*<input class="form-control" id="inputEmail" placeholder = "Email" type="text">*@
                                    @Html.TextBoxFor(m => m.OrgEmail, new { @class = "form-control", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.OrgEmail, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgPhoneNumber, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgPhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgPhoneNumber, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Select Organization Type", new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.OrganizationTypeId, new SelectList(Model.getAllOrganizationTypes, "ID", "Name"), "-Select-", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrganizationTypeId, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgStreetName, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgStreetName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgStreetName, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgBuildingName, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgBuildingName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgBuildingName, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgPlotNo, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgPlotNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgPlotNo, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgBlockNo, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgBlockNo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgBlockNo, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgRegion, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgRegion, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgRegion, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.OrgLandMark, new { @class = "col-lg-4 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.OrgLandMark, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgLandMark, string.Empty, new { @class = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset class="checkBoxListFor">
                    <legend>Department</legend>
                    <div class="form-group">
                        <div class="col-lg-12 form-inline">
                            @Html.CheckBoxListFor(model => model.PostedDepartment.DepartmentIds, model => model.AvailableDepartment, m => m.Id, m => m.Department, model => model.SelectedDepartment)
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <legend>Customer Template</legend> <button type="button" class="btn btn-info navbar-right" id="addFields"> Add More Fields</button>

                    @if (Model.extraFields.Count() > 0)
                {
                        @Html.Action("GetCustomerTempltePartialView", "DocumentManagement", new { clientID = Model.OrganizationId })
                    }
                    else
                    {
                        <div>

                            @Html.Label("Add Customer Template", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                            <div>
                                @Html.Action("GetCustomerPartialView", "DocumentManagement")


                            </div>
                        </div>
                    }


                    <div id="divPartialView" class="col-lg-12 cust-height">
                    </div>
                    @Html.Hidden("Count", Model.extraFields.Count())
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
@if (Convert.ToInt32(Session["RoleId"]) == 1)
{
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Save Changes" />
                </div>
}

                @*@{ var Controllername = "UsersManagement"; var action = "Index";}
                    @if (Convert.ToInt32(Session["RoleId"]) == 1) { Controllername = "UsersManagement/OrganizationList"; }*@

                <div class="">
                    <input type="button" class="btn btn-default" value="Cancel" onclick="history.go(-1);" @*onclick="location.href='@Url.Action(action,Controllername)'"*@ />
                </div>
            </div>
        </div>
    </div>
                                }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")

                <script type="text/javascript">
                    if (parseInt(document.getElementById("Count").value, 10) == 0)
                        var index = 1
                    else
                        var index = parseInt(document.getElementById("Count").value, 10);

                   $("#addFields").click(function () {
            debugger;
            $.ajax({
                url: '@Url.Action("GetCustomerPartialView", "DocumentManagement")',
                data: { index: index },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                index = parseInt(index) + 1;
                SetData(data);
                }
                });
                });

                function SetData(data) {

                $("#divPartialView").append(data); // HTML DOM replace
                }
</script>
            }
