﻿@model IEnumerable<VirtualAdvocate.Models.AllOrganizationList>
  
@{
    ViewBag.MenuActive = "Organization";
    //ViewBag.Title = "OrganizationList";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>ORGANIZATION LIST</h2><hr />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.9.0.min.js"></script>

<script src="~/Scripts/bootstrap.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddOrganization", "UsersManagement")'"><i class="fa fa-user-plus" onsubmit = "showProgress()"></i> Add Organization</button>
    </div>
    <div class="col-md-9">

        <div class="navbar-form navbar-right blue-color">
            @if (ViewBag.Enable == "Active")
            {
                <input type="radio" name="editList" id="Active" value="Active" checked="checked" />
                <label for="Active" class="radio-color">Active</label>

                <input type="radio" name="editList" id="Inactive" value="Inactive" />
                <label for="Inactive" class="radio-color">In active</label>
            }
            else
            {
                <input type="radio" name="editList" id="Active" value="Active" />
                    <label for="Active" class="radio-color">Active</label>

                    <input type="radio" name="editList" id="Inactive" value="Inactive" checked="checked" />
                    <label for="Inactive" class="radio-color">In active</label>
            }
        </div>
        @*<div class="navbar-form navbar-right" role="search">
                <button type="button" class="btn btn-default"><i class="fa fa-download"></i> Download</button>
            </div>*@

    </div>
</div>

<table class="table table-striped table-hover dataTable table-custom-border" id="tblOrgList">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.OrganizationName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;
            var usrListcss = "";
            var js = "";
        }
        @foreach (var item in Model)
        {
            rowNo = rowNo + 1;
            var css = "";
            var ustatus = "";
            var msg = "";
            if (item.IsEnabled  &&  item.IsLocked==false)
            {
                css = "fa fa-check green-color";
                ustatus = "Active";
                msg = "deactivate";
            }
            else
            {
                css = "fa fa-close red-color";
                ustatus = "Inactive";
                msg = "activate";
            }
            if (item.userAccountType == 2)
            {
                usrListcss = "glyphicon glyphicon-th-list gray-color";

            }
            else
            {
                usrListcss = "glyphicon glyphicon-th-list gray-color";

            }
            <tr>
                <td>@rowNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    <a href="@Url.Action("ManageOrganization", "UsersManagement", new { id = item.OrganizationId })" title="Edit" class="fa fa-edit gray-color"></a>&nbsp;|
                    &nbsp;
                    <a href="javascript:;" name="Activate" title="@ustatus" class="@css" onclick="ChangeStatus(@item.OrganizationId,'@msg')"></a>
                    |
                    <a href="@Url.Action("OrgUserList", "UsersManagement", new { id = item.OrganizationId })" title="Users List" class="@usrListcss" onsubmit = "showProgress()"></a>&nbsp;
                    @*@if (item.userAccountType==2)
                            {
                                <a href = "@Url.Action("AddOrgUser","UsersManagement",new { id = item.OrganizationId })" title = "Add User" class="fa fa-user-plus gray-color"></a>
                        }*@
                </td>
            </tr>

        }

    </tbody>
</table>




<div id="divModal" class="modal fade" role="dialog" >
    <div class="modal-dialog  modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalHeader">
                    <div id="divModalHeader">
                      Assign Client
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div id="divModalBody">
                    <form>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                Client
                            </div>
                            <div class="col-lg-10">
                                <input type="hidden" name="orgID" value="test"  />
                            @foreach (SelectListItem item in (MultiSelectList)ViewBag.Services)
                            {
                                <input type="radio" name="Services" value=@item.Value> @Html.Label(item.Text);<br />
                            }
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnModalOk" type="submit" class="btn-success center-block">  Assign </button>
              
            </div>
        </div>


    </div>
</div>

<div id="divActivate" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
                <h4 class="modal-title">
                   
                        Organization Activate / Deactivate
                  
                </h4>
            </div>
            <div class="modal-body">
              
                    
                            <div id="message" class="bootbox-body"></div>
                                
                            
                            
                     

                   
            </div>
            <div class="modal-footer">
                <button id="btnModalcancel" type="submit" class="btn-cancel pull-left">  No </button>
                <button id="btnModalConfirm" class="btn-success pull-right" > Yes </button>
            </div>
        </div>


    </div>
</div>

                @section Scripts {
                    @Scripts.Render("~/bundles/bootbox")
                    <script>
                        $(document).ready(function () {
                            $('#tblOrgList').DataTable({
                                "dom": '<"top"f>rt<"bottom"lp><"clear">',
                                responsive: true
                            });
                        });

                        var orgId;
                        var message;


                        function ChangeStatus(id, msg) {
                            orgId = id;
                            var proceed = false;
                            if (msg == "activate") {
                                $.ajax({

                                    url: '@Url.Content("~/UsersManagement/OrgActivation")',
                                    type: 'POST',
                                    data: { id: id },
                                    dataType: 'json'
                                }).success(function (result) {

                                    if (result=="true") {
                                        bootbox.confirm({
                                            title: 'Organization Activate / Deactivate',
                                            message: 'Are you sure you want to ' + msg + ' this Organization?',
                                            buttons: {
                                                'cancel': {
                                                    label: 'No',
                                                    className: 'btn-cancel pull-left'
                                                },
                                                'confirm': {
                                                    label: 'Yes',
                                                    className: 'btn-default pull-right'
                                                }
                                            },
                                            callback: function (result) {
                                                if (result) {
                                                    $.ajax({
                                                       url: '@Url.Content("~/UsersManagement/ActivateOrganization")',
                                type: 'POST',
                                data: { id: orgId },
                                dataType: 'json', success: function (result) { location.reload(); },
                                error: function () { alert('Error!'); }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                    else if (result == "Service") {
                                        alert("Please assign Department before activating Organization.");
                                    }
                                    else { alert(" Please assign Department before activating Organization."); }

                                });
                            }
                            else {
                                bootbox.confirm({
                                    title: 'User Activate / Deactivate',
                                    message: 'Are you sure you want to ' + msg + ' this customer?',
                                    buttons: {
                                        'cancel': {
                                            label: 'No',
                                            className: 'btn-cancel pull-left'
                                        },
                                        'confirm': {
                                            label: 'Yes',
                                            className: 'btn-default pull-right'
                                        }
                                    },
                                    callback: function (result) {
                                        if (result) {
                                            $.ajax({
                                                 url: '@Url.Content("~/UsersManagement/ActivateOrganization")',
                                type: 'POST',
                                data: { id: orgId },
                                dataType: 'json', success: function (result) { location.reload(); },
                                error: function () { alert('Error!'); }
                                            });
                                        }
                                    }
                                });
                            }
                        }

                        $("#btnModalConfirm").click(function () {
                            Activate(orgId);
                        });

                        $("#btnModalcancel").click(function () {
                            $("#divActivate").modal('hide');
                        });

                        function Activate(id)
                        {
                            $.ajax({
                                url: '@Url.Content("~/UsersManagement/ActivateOrganization")',
                                type: 'POST',
                                data: { id: id },
                                dataType: 'json',  success: function (result) { location.reload(); },
                            error: function () { alert('Error!'); }

                            });

                        }

                        $("input[name='editList']").change(function () {

                            var enable = $("input[name='editList']:checked").val();

                            var url = '@Url.Content("~/UsersManagement/OrganizationList")' + '?enable=' + enable;

                            location.href = url;

                        });
</script>
                    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
                    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>

                }
