﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

/*custom-style*/
.red-color{color:#cf0000;}
.green-color{color:#28b62c;}
.gray-color{color:#555555;}
.blue-color{color:#428bca;}
.not-active {
 pointer-events: none;
 cursor: default;
 display:inline-block; 
}

.doc-height{height:475px; overflow-y:scroll;}
.step{
    background-color:gold;
    padding:8px;
    border-radius:5px;    
}

div#spinner
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

.outline-table{
    border-bottom-color:gold;
    border-bottom:solid 1px;
    border-top:dotted 2px;
}

.scrollable-table{height:200px; overflow:auto; padding-right:0;}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.huge {
    font-size: 40px;
}
#wrapper {
    width: 100%;
}




.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-cancel.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-cancel.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.wrap {
    width: 352px;
}

.wrap table {
    width: 300px;
    table-layout: fixed;
}

table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 100px;
    word-wrap: break-word;
}

table.head tr td {
    background: #eee;
}

.inner_table {
    height: 100px;
    overflow-y: auto;
}

/* list-action 
.list-action a:hover, .list-action a:focus{color:none!important;}
.list-action a.list-anchor:hover{color:#28b62c;}*/

/* dashboard css - Naveen SR */
.dashboard-box{background:#ffffff; display:table-cell; vertical-align:middle; border:2px solid #ffffff; padding:10px; border-radius:4px;}
.dashboard-box a{text-decoration:none; color:#555555; text-transform:capitalize;}
.dashboard-box:hover{border-color: #e6e6e6;}
.margin-bottom-15{margin-bottom:15px;}
.margin-right-15{margin-right:15px;}
.fa-gray-color{color:#dddddd;}
.margin-top-10{margin-top:10px;}
table#tblAttachAttributes{width:100%;}
.scroll-y{overflow-y:scroll;}
#assigned_attributes label{margin-right:10px;}

 #overlay {
   background-color: rgb(0, 0, 0);
    z-index: 1400;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 150%;
    opacity: .4;
}
   
#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    /*background:url(~/Content/Images/logo.png) no-repeat center #fff;*/
    text-align:center;
    padding:10px;
    font:normal 14px Tahoma, Geneva, sans-serif;
    /*border:1px solid #666;*/
    margin-left: -50px;
    margin-top: -50px;
    z-index:1600;
    overflow: auto;
}

/*#unassigned_attributes label{border:1px solid red; position:fixed; background:gold} 
#assigned_attributes label{position:static;}*/

/* Document Scroll */
.document-scroll{max-height:400px; overflow-y:scroll;}
.cust-height{height:180px; overflow-y:scroll;}

/* spacing */
#divPartialView input[type=text]{margin-left:-3px;}