﻿@model IEnumerable<VirtualAdvocate.Models.DocumentTemplateListModel>
@{
    ViewBag.MenuActive = "MultipleDownload";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Bulk Template Creation</h2>
<link rel="stylesheet" href="~/Content/themes/base/datepicker.css" />
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/autocomplete.css")" rel="stylesheet" type="text/css" />

<style>
    #overlay {
   background-color: rgb(255, 255, 255);
    z-index: 1060;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 130%;
    opacity: .5;
}
   
#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    /*background:url(~/Content/Images/logo.png) no-repeat center #fff;*/
    text-align:center;
    padding:10px;
    font:normal 14px Tahoma, Geneva, sans-serif;
    /*border:1px solid #666;*/
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}
</style>
<div id="overlay" style="display:none"></div>
<div id="spinner">
    <i class="fa fa-4x fa-spinner fa-spin "></i>Please wait..
</div>

<!-- Include the plugin's CSS and JS: -->
@*<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />*@
<form name="form" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">Customer Name :</div>



            <div class="col-md-8">
             @Html.DropDownList("customers", (MultiSelectList)ViewBag.Customers, new { multiple = "multiple" })

            </div>
            <div class="col-md-2">
                <i class="fa fa-info-circle" aria-hidden="true" onclick="showInformation()" title="Information"></i>
            </div>

        </div>
        <div class="col-md-12 margin-top-10">
            <div class="col-md-2">Select Date:</div>
            <div class="col-md-10">
                <input class="form-control date-input" id="Date"/>
            </div>
            </div>

        </div>
    <div class="row">
        <div class="col-md-9">
            <div class="navbar-form navbar-right" role="search">
            </div>
        </div>
    </div>
    

    <table class="table table-striped table-hover dataTable table-custom-border" id="tblTemplateList">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayName("Template")</th>
                <th>@Html.DisplayName("Category")</th>
                <th>@Html.DisplayName("SubCategory")</th>
                <th>@Html.DisplayName("Sub SubCategory")</th>
                <th>@Html.DisplayName("Cost")</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int rowNo = 0;}
            @foreach (var item in Model)
            {
                rowNo = rowNo + 1;
                <tr>
                    <td>@rowNo</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemplateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentSubCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentSubSubCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @*<a href="@Url.Action("CreateDynamicForm","DocumentManagement",new { id = item.TemplateId })" title="Fill">Fill</a>*@
                        <a href="javascript:void(0);" onclick="checkCustomer(@item.TemplateId)" class="fa fa-download" title="Download"></a>

                    </td>
                </tr>

            }

        </tbody>
    </table>
</form>

@section Scripts {
@*<link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.multiselect.js"></script>*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryUI")
\
    <script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.multiselect.js"></script>
   @*<script src="~/Scripts/jquery-1.9.0.js"></script>*@

<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/respond.js"></script>

<script src="~/Scripts/bootbox.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>

<script src="/Scripts/jquery-ui-1.11.4.js"></script>

<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>


<link href="~/Content/jquery.multiselect.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblTemplateList').DataTable({
                "dom": '<"top"f>rt<"bottom"lp><"clear">',
                responsive: true
            });
         $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('#Date').datepicker();
    })

            $('#customers').multiselect({
                columns: 4,
                placeholder: 'Select Customer',
                search: true,
                selectAll: true
            });

        });
    </script>

  

    <script type="text/javascript">
        function checkCustomer(id)
        {
          
           
            if ($("#customers").val() != null && $("#customers").val() != "")
            {
                showProgress();
                var customers = $("#customers").val();
               $.ajax({
                   url: '@Url.Content("~/MultipleDocumentDownload/CheckAssociatedDocs")',
                   type: 'POST',
                   data: { id: id },
                   dataType: 'json'
               }).success(function (result) {
                   if (result) {
                       bootbox.confirm({
                           title: 'Download associated Documents',
                           message: 'Are you sure you want to download associated document also?',
                           buttons: {
                               'cancel': {
                                   label: 'No',
                                   className: 'btn-cancel pull-left'
                               },
                               'confirm': {
                                   label: 'Yes',
                                   className: 'btn-default pull-right'
                               }
                           },
                           callback: function (result) {
                               debugger;
                               showProgress();

                               $.ajax({
                                   url: '@Url.Content("~/MultipleDocumentDownload/Download")',
                                   type: 'POST',
                                   data: { id: id, associated: result, customers: $("#customers").val(), Date: $("#Date").val() },
                                   dataType: 'json',
                                   success: function (ID) {
                                       document.form.action = "@(Url.Content("~/MultipleDocumentDownload/GetDocuments/"))" + ID;
                                       document.form.submit();
                                       return true;
                                   },
                                   error: function () {
                                   }
                               });

                              
                           }
                       });
                   }
                   else {
                       debugger;
                       showProgress();
                       $.ajax({
                           url: '@Url.Content("~/MultipleDocumentDownload/Download")',
                           type: 'POST',
                           data: { id: id, associated: false, customers: $("#customers").val(), Date: $("#Date").val() },
                           dataType: 'json',
                           success: function (ID) {
                               document.form.action = "@(Url.Content("~/MultipleDocumentDownload/GetDocuments/"))" + ID;
                               document.form.submit();
                               return true;
                           },
                           error: function () {
                           }
                       });

                       
                   }
               });
            }
            else {
                bootbox.alert("Please Select Customer For Filling Document");
                //alert("Please Select Customer For Filling Document");
                return false;
            }
        }
        function McheckCustomer(id)
        {
            if ($("#customers").val() > 0 && $("#customers").val() != null && $("#customers").val() != "")
            {
                //window.location = "~/CreateDynamicForm?id=" + id;
                document.form.action ="@(Url.Content("~/MultipleDocumentDownload/AssociateCreateDynamicForm/"))"+id;
                document.form.submit();
                return true;

            } else {
                bootbox.alert("Please Select Customer For Filling Document");
                //alert("Please Select Customer For Filling Document");
                return false;
            }
        }

        function showInformation()
        {
            var msg="<b>To create documents in bulk:<b> <br><br>"+
            "1.	Select customers from <b>Customer Name</b> drop down and <br>" +
            "2.	Identify the document and click <b>Download</b> from the <b>Actions</b> column <br>" +
            "3.	If required include/exclude the associated document (s) <br>" +
            "4.	Select the prepared documents to download and click on <b>DOWNLOAD SELECTED DOCUMENTS</b>.<br>" +
                "Note: <br> " +
            "A one to one mapping of customer data and keys in the template document are recommended.  Mapping of keys are the responsibility of the Administrator. Should you find a mismatch, please contact your Administrator for assistance."
            
            bootbox.alert(msg);
        }

        var spinnerVisible = false;
        function showProgress() {
            if (!spinnerVisible) {
                $("#overlay").show();
                $("div#spinner").fadeIn("fast");
                spinnerVisible = true;
            }
        };
        function hideProgress() {
            if (spinnerVisible) {
                $("#overlay").hide();
                var spinner = $("div#spinner");
                spinner.stop();
                spinner.fadeOut("fast");
                spinnerVisible = false;
            }
        };

    </script>


}
