﻿@model VirtualAdvocate.Models.ClouseModel

@{
    ViewBag.MenuActive = "Clause";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Edit Clause</h2>

@using (Html.BeginForm("UpdateClouse", "ClouseManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "showProgress()" }))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    @Html.HiddenFor(m => m.Id)

                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.Label("Clause", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                            <div>
                                @Html.EditorFor(model => model.Clouse1, new { htmlAttributes = new { @class = "form-control col-lg-6", @placeholder = "Clause" } })
                                @Html.ValidationMessageFor(model => model.Clouse1, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.Label("Clause Description", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                            <div>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control col-lg-6", @placeholder = "Clause Description" } })

                            </div>

                        </div>

                        <div class="form-group">
                            @Html.Label("Assign Category", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })


                            <div class="col-sm-8 col-lg-7">


                                @foreach (var g in Model.getAllCategory)
                                {

                                    <input type="checkbox"
                                           name="SelectedGroups" value="@g.DocumentCategoryId" id="@g.DocumentCategoryId"
                                           @{if (Model.SelectedGroups.Contains(g.DocumentCategoryId)) { <text> checked='checked' </text>    } } />
                                    <label for="@g.DocumentCategoryId">@g.DocumentCategoryName</label>
    }
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Update" />
                </div>
                <div class="">
                    <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("ClouseList","ClouseManagement")'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    }