﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<div class="jumbotron">
    <h1>Virtual Advocate</h1>
    <p class="lead">This site is all about Virtual Advocate</p>
    <p><a href="#" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
        </p>
        <p><a class="btn btn-default" href="#">Know more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <p><a class="btn btn-default" href="#">Know more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <p><a class="btn btn-default" href="#">Know more &raquo;</a></p>
    </div>
</div>