﻿@model VirtualAdvocate.Models.ServiceModel

@{
    ViewBag.MenuActive = "Service";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Add Client</h2>

@using (Html.BeginForm("AddService", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "showProgress()" }))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info navbar-right" id="addFields" > Add More Fields</button>
                    </div>
                  
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.Label("Client", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    @Html.EditorFor(model => model.Service, new { htmlAttributes = new { @class = "form-control col-lg-6", @placeholder = "Client" } })
                                    @Html.ValidationMessageFor(model => model.Service, "", new { @class = "text-danger" })
                                </div>
                              
                            </div>

                            <div class="form-group">
                                @Html.Label("Client Description", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    @Html.EditorFor(model => model.ServiceDescription, new { htmlAttributes = new { @class = "form-control col-lg-6", @placeholder = "Client Description" } })
                                    @Html.ValidationMessageFor(model => model.ServiceDescription, "", new { @class = "text-danger" })
                                </div>
                              
                            </div>

                            <div class="form-group" >

@Html.Label("Add Customer Template", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    @Html.Action("GetCustomerPartialView", "DocumentManagement")


                                </div>
                                </div>

                            <div  id="divPartialView">
                                </div>
                            </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
                <div class="">
                    <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("AccountServiceList","DocumentManagement")'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        $(document).ready(function () {
          
            $("#extraFields_0__KeyName").val("Name");
            //$("#extraFields_0__KeyName").attr("disabled", "disabled");
        });
    </script>
    <script>
        var index = 1;
        $("#addFields").click(function () {
            debugger;
            $.ajax({
                url: '@Url.Action("GetCustomerPartialView", "DocumentManagement")',
                data: { index: index },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    index = index + 1;
                    SetData(data);
                }
            });
        });

        function SetData(data) {

            $("#divPartialView").append(data); // HTML DOM replace
        }

        function RemoveRow(element) {
            debugger;
            $(element).parents("div.divElementSet:first").remove();

            return false;
        }




</script>
}

