﻿@model IEnumerable<VirtualAdvocate.Models.GetAssociatedKeysGroup_Result>
@{
    ViewBag.MenuActive = "AssociatedKey";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Associated Key 
    
   
</h2>
<script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <!-- DataTables CSS -->
    <link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
    <div class="row">
    <div class="col-md-3">
        @*@if (Convert.ToInt32(Session["RoleId"]) == 2|| Convert.ToInt32(Session["RoleId"]) == 6)
        {*@
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AssociatedKeys", "DocumentManagement")'"><i class="fa fa-user-plus"></i> Add Associated Key Group</button>
        @*  }*@
    </div>

    </div>

    <table class="table table-striped table-hover dataTable table-custom-border" id="tblAssociatedKeyList">
        <thead>
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.GroupName)</th>
                <th>@Html.DisplayNameFor(model => model.DocumentName)</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int rowNo = 0;}
            @foreach (var item in Model)
            {
                rowNo = rowNo + 1;
                
               
                <tr>
                    <td>@rowNo</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GroupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentName)
                    </td>
                    <td>
                        <a href="@Url.Action("EditAssociatedKeys","DocumentManagement",new { GroupName = item.GroupName,templateid=item.TemplateID
                            })" title="Edit" class="fa fa-edit gray-color" onsubmit = "showProgress()"></a>&nbsp;|
                        &nbsp;
                        <a onclick="DeleteKeyGroup(@item.TemplateID,'@item.GroupName')" title="Delete" class="glyphicon glyphicon-trash"></a>
                         </td>
                   
                </tr>

            }

        </tbody>
    </table>


    @section Scripts {
        @Scripts.Render("~/bundles/bootbox")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/unobtrusive")
        <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
        <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#tblAssociatedKeyList').DataTable({
                    "dom": '<"top"f>rt<"bottom"lp><"clear">',
                    responsive: true

                });

            });
            

            function DeleteKeyGroup(id, name) {
                debugger;
                bootbox.confirm({
                    title: 'Delete Template',
                    message: 'Are you sure you want to delete this Group?',
                    buttons: {
                        'cancel': {
                            label: 'No',
                            className: 'btn-cancel pull-left'
                        },
                        'confirm': {
                            label: 'Yes',
                            className: 'btn-default pull-right'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            showProgress();
                            $.ajax({
                                url: '@Url.Content("~/DocumentManagement/DeleteKeyGroup")',
                                type: 'POST',
                                data: { id: id, groupname: name },
                                dataType: 'json',
                                success: function (result) { location.reload(); },
                                error: function () { alert('Error!'); }
                            });
                        }
                    }
                });
            }

            

          

        </script>
    }
