﻿
@{
    ViewBag.MenuActive = "SearchTemplate";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            @Html.Action("GetPartialCustomerDetails", "DocumentManagement", new { cuStomerID= ViewBag.customerID , onsubmit = "showProgress()" })
        </div>

    </div>
</div>

@*<h2>@ViewBag.Head</h2>*@
@Html.Raw(@ViewBag.Dynamic)
@section Scripts{
@Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#btnSubmit').button();
        $('#btnSubmit').click(function () {
    $(this).html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');
});

        function addFunction(id) {

            debugger;
            var randomnumber = Math.floor(Math.random() * (100000000 - 1) + 1);
            var div = id.replace("add", "#div");

            $.ajax({
                url: '@Url.Content("~/DocumentManagement/keyDetails")',
                type: 'POST',
                data: { key: id }

            }).success(
                function (result)
                {
                    if (result) {
                        var html = "<div class=form-group id=div_" + id + randomnumber + "><label class=col-lg-4 control-label></label><div class=col-lg-6 align=right><textarea rows='4' cols='35' name='" + id + randomnumber + "' maxlength='250'></textarea> </div><div class=col-lg-1><button type=button class=glyphicon-minus" + "  id=remove_" + id + randomnumber + " onclick=removeFunction(this.id) ></button> </div></div>";
                        $(div).after(html).last();
                    }
                    else
                    {
                        var html = "<div class=form-group id=div_" + id + randomnumber + "><label class=col-lg-4 control-label></label><div class=col-lg-6 align=right><input class=form-control id=" + id + randomnumber + " name=" + id + randomnumber + " type=text list=" + id + randomnumber + "></div><div class=col-lg-1><button type=button class=glyphicon-minus" + "  id=remove_" + id + randomnumber + " onclick=removeFunction(this.id) ></button> </div></div>";
                        $(div).after(html).last();
                    }

                });

            //var html = "<div class=form-group id=div_" + id + randomnumber + "><label class=col-lg-4 control-label></label><div class=col-lg-6 align=right><input class=form-control id=" + id + randomnumber + " name=" + id + randomnumber + " type=text list=" + id + randomnumber + "></div><div class=col-lg-1><button type=button class=glyphicon-minus" + "  id=remove_" + id + randomnumber + " onclick=removeFunction(this.id) ></button> </div></div>";
            //$(div).after(html).last();

            //$("#" + textbox).clone().attr('id', id + randomnumber).attr('Name', id + randomnumber).appendTo(div);
            return false;
        }
        function removeFunction(id)
        {
            debugger;
            var div = id.replace("remove", "#div");

            $(div).remove()
            var keyvalue = div.replace("#div_", "");
            showProgress();
            $.ajax({
                url: '@Url.Content("~/DocumentManagement/Disablekey")',
                type: 'POST',
                data: { key: keyvalue }



            }).success(
            function (result)
            { });


        }

        function checkData(id)
        {
            debugger;
            var data = document.getElementById(id).value;
            showProgress();

            $.ajax({
                url: '@Url.Content("~/DocumentManagement/CheckkeyDetails")',
                type: 'POST',
                data: { key: data, keyID: id }
            }).success(
            function (result)
            {
                if (result == "true")
                {
                    bootbox.alert("The system has data associated with this key value");
                }

            });
        }

</script>

}