﻿@model IEnumerable<VirtualAdvocate.Models.CustomerDetailsModel>

@{
    ViewBag.MenuActive = "Customers";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Customer List</h2>
<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">
   
    <div class="col-md-9">
        <div class="navbar-form navbar-right" role="search">
        </div>

    </div>
</div>

@if (ViewData["CustomerData"] != null)
{
    <table class="table table-striped table-hover dataTable table-custom-border" id="tblCustomerList">
        <thead>
            <tr>
                @*<th>#</th>*@
                @foreach (System.Data.DataColumn col in (ViewData["CustomerData"] as System.Data.DataTable).Columns)
                {
                    if (col.Caption == "CustID")
                    {
                        <th>Actions</th>
                    }
                    else
                    {
                        <th>@col.Caption</th>
                    }
                }

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int rowNo = 0;}


            @foreach (System.Data.DataRow row in (ViewData["CustomerData"] as System.Data.DataTable).Rows)
            {
                rowNo = rowNo + 1;
                var css = "";
                var ustatus = "";
                var msg = "";
                //if (item.IsEnabled == true)
                //{
                css = "fa fa-user green-color";
                ustatus = "Active";
                msg = "deactivate";
               
                <tr>
                    @for (int i = 0; i < row.ItemArray.Count() - 1; i++)
                    {
                        <td>@row.ItemArray[i].ToString()</td>
                        if (row.ItemArray.Count() - 2 == i)
                        {
                            <td>
                                <a href="@Url.Action("EditDynamicCustomerForm","DocumentManagement",new { custId = row.ItemArray[i+1]})" title="View">View</a>&nbsp;|
                               
                                <a href="javascript:;" name="Activate" title="@ustatus" class="@css"></a>
                            </td>
                            <td>
                                <a href="@Url.Action("CustomerHistory","CustomerHistory",new { id = row.ItemArray[i+1] })" title="Customer Data" name="History" onsubmit = "showProgress()">Customer Data</a>

                            </td>
                        }
                    }


                </tr>
            }



        </tbody>
    </table>

                }

@section Scripts {
    @Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")

<script>


    $(document).ready(function () {
        $('#tblCustomerList').DataTable({
            "dom": '<"top"f>rt<"bottom"lp><"clear">',
            responsive: true
        });
    });

    function ChangeStatus(id,msg)
    {
        bootbox.confirm({
            title: 'Customer Activate / Deactivate',
            message: 'Are you sure you want to ' + msg + ' this customer?',
            buttons: {
                'cancel': {
                    label: 'No',
                    className: 'btn-cancel pull-left'
                },
                'confirm': {
                    label: 'Yes',
                    className: 'btn-default pull-right'
                }
            },
            callback: function (result) {
                if (result) {
                    showProgress();
                    $.ajax({
                        url: '@Url.Content("~/DocumentManagement/ActivateCustomer")',
                        type: 'POST',
                        data: { id: id },
                        dataType: 'json',
                        success: function (result) { location.reload(); },
                        error: function () { alert('Error!'); }
                    });
                }
            }
        });


</script>
}