﻿@model IEnumerable<VirtualAdvocate.Models.CustomerDetailsModel>
@{
    ViewBag.MenuActive = "Customers";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Customer List</h2>
<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row"> 
    <div class="col-md-3">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddCustomer", "DocumentManagement", new { id= Convert.ToInt32(Session["OrgId"])})'"><i class="fa fa-user-plus"></i> Add Customer</button>
    </div>
    <div class="col-md-9">
        <div class="navbar-form navbar-right" role="search">
        </div>

    </div>
</div>

<table class="table table-striped table-hover dataTable table-custom-border" id="tblCustomerList">
    <thead>
        <tr>
          
            <th>#</th>
            <th>Customer Name</th>
            <th>Bank Name</th>
            <th>Account Number</th>
            <th>Email Address</th>
            <th>Address</th>
            <th>Actions</th>
            <th>Customer Data</th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
        @foreach (var item in Model)
        {
            rowNo = rowNo + 1;
            var css = "";
            var ustatus = "";
            var msg = "";
            if (item.IsEnabled == true)
            {
                css = "fa fa-user green-color";
                ustatus = "Active";
                msg = "deactivate";
            }
            else
            {
                css = "fa fa-user red-color";
                ustatus = "Inactive";
                msg = "activate";
            }
            <tr>
                <td>@rowNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a href="@Url.Action("EditCustomer","DocumentManagement",new { id = item.CustomerId })" title="Edit" class="fa fa-edit gray-color" onsubmit = "showProgress()"></a>&nbsp;|
                    &nbsp;
                    <a href="javascript:;" name="Activate" title="@ustatus" class="@css" onclick="ChangeStatus(@item.CustomerId,'@msg')"></a>
                </td>
                <td>
                    <a href="@Url.Action("CustomerHistory","CustomerHistory",new { id = item.CustomerId })" title="Customer Data" name="History" onsubmit = "showProgress()">Customer Data</a>
                  
                </td>
            </tr>

        }

    </tbody>
</table>


@section Scripts {
@Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
                $(document).ready(function () {
                    $('#tblCustomerList').DataTable({
                        "dom": '<"top"f>rt<"bottom"lp><"clear">',
                        responsive: true
                    });

                   
                });
                function ChangeStatus(id,msg)
                {
                    bootbox.confirm({
                        title: 'Customer Activate / Deactivate',
                        message: 'Are you sure you want to ' + msg + ' this customer?',
                        buttons: {
                            'cancel': {
                                label: 'No',
                                className: 'btn-cancel pull-left'
                            },
                            'confirm': {
                                label: 'Yes',
                                className: 'btn-default pull-right'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                showProgress();
                                $.ajax({
                                    url: '@Url.Content("~/DocumentManagement/ActivateCustomer")',
                                    type: 'POST',
                                    data: { id: id },
                                    dataType: 'json',
                                    success: function (result) { location.reload(); },
                                    error: function () { alert('Error!'); }
                                });
                            }
                        }
                    });


                    @*bootbox.confirm('Are you sure you want to ' + msg + ' this customer?', function (result) {
                        if (result) {
                            $.ajax({
                             url: '@Url.Content("~/DocumentManagement/ActivateCustomer")',
                             type: 'POST',
                             data: { id: id },
                             dataType: 'json',
                             success: function (result) { location.reload(); },
                             error: function () { alert('Error!'); }
                         });
                            
                        } 
                    });*@
                }
    </script>
}




