﻿
@{
    ViewBag.MenuActive = "Customers";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Customer List</h2>
<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("CreateDynamicCustomerForm", "DocumentManagement", new { id= Convert.ToInt32(Session["OrgId"])})'"><i class="fa fa-user-plus"></i> Add Customer</button>
    </div>
    <div class="col-md-9">

        <div class="navbar-form navbar-right blue-color">
            @if (ViewBag.Enable == "Active")
            {
                <input type="radio" name="editList" id="Active" value="Active" checked="checked" />
                <label for="Active">Active</label>

                <input type="radio" name="editList" id="Inactive" value="Inactive" />
                <label for="Inactive">In active</label>
            }
            else
            {
                <input type="radio" name="editList" id="Active" value="Active" />
                <label for="Active">Active</label>

                    <input type="radio" name="editList" id="Inactive" value="Inactive" checked="checked" />
                    <label for="Inactive">In active</label>
            }

        </div>

        <div class="navbar-form navbar-right" role="search">
        </div>

    </div>
</div>

@if (ViewData["CustomerData"] != null)
{
<table class="table table-striped table-hover dataTable table-custom-border" id="tblCustomerList">
    <thead>
        <tr>
            @*<th>#</th>*@            
            @foreach (System.Data.DataColumn col in (ViewData["CustomerData"] as System.Data.DataTable).Columns)
            {
                if (col.Caption == "CustID")
                {
                    <th>Actions</th>
                }
                else
                {
                   <th>@col.Caption</th>
                    }
                }
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
      

        @foreach (System.Data.DataRow row in (ViewData["CustomerData"] as System.Data.DataTable).Rows)
        {
            rowNo = rowNo + 1;
            var css = "";
            var ustatus = "";
            var msg = "";
            if (ViewBag.Enable == "Active")
            {
            css = "fa fa-user green-color";
            ustatus = "Active";
            msg = "deactivate";
        }
            else
            {
            css = "fa fa-user red-color";
            ustatus = "Inactive";
            msg = "activate";
        }
            <tr>
                @for (int i = 0; i < row.ItemArray.Count()-1; i++)
                {
                    <td>@row.ItemArray[i].ToString()</td>
                    if (row.ItemArray.Count() - 2 == i)
                    {
                        <td>
                            <a href="@Url.Action("EditDynamicCustomerForm","DocumentManagement",new { custId = row.ItemArray[i+1]})" title="Edit" class="fa fa-edit gray-color" onsubmit = "showProgress()"></a>&nbsp;|
                            &nbsp;
                            <a href="javascript:;" name="Activate" title="@ustatus" class="@css" onclick="ChangeStatus(@row.ItemArray[i+1],'@msg')"></a>
                        </td>
                        <td>
                            <a href="@Url.Action("CustomerHistory","CustomerHistory",new { id = row.ItemArray[i+1] })" title="Customer Data" name="History" onsubmit = "showProgress()">Customer Data</a>

                        </td>
                    }
                }
               
               
            </tr>
        }      

        

    </tbody>
</table>

         }

@section Scripts {
    @Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
<script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
<script>
    $(document).ready(function () {
        $('#tblCustomerList').DataTable({
            "dom": '<"top"f>rt<"bottom"lp><"clear">',
            responsive: true
        });
    });


    function ChangeStatus(id,msg)
    {
        bootbox.confirm({
            title: 'Customer Activate / Deactivate',
            message: 'Are you sure you want to ' + msg + ' this customer?',
            buttons: {
                'cancel': {
                    label: 'No',
                    className: 'btn-cancel pull-left'
                },
                'confirm': {
                    label: 'Yes',
                    className: 'btn-default pull-right'
                }
            },
            callback: function (result) {
                if (result) {
                    showProgress();
                    $.ajax({
                        url: '@Url.Content("~/DocumentManagement/ActivateCustomer")',
                        type: 'POST',
                        data: { id: id },
                        dataType: 'json',
                        success: function (result) { location.reload(); },
                        error: function () { alert('Error!'); }
                    });
                }
            }
        });
    }


    $("input[name='editList']").change(function () {

        var enable = $("input[name='editList']:checked").val();

        var url = '@Url.Content("~/DocumentManagement/GetCustomerList")' + '?enable=' + enable;

        location.href = url;

    });

</script>
    }