﻿@model VirtualAdvocate.Models.DashBoardModel
@{
    ViewBag.MenuActive = "DashBoard";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
  
    var orgid = Convert.ToInt32(Session["OrgId"]);
}

<h2 class="page-header">Dashboard</h2>
<!-- Morris Charts CSS -->
@*<link href="~/bower_components/morris.css" rel="stylesheet">*@

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


<script src="~/bower_components/raphael-min.js"></script>
<div id="page-wrapper">
 <!-- /.row -->
    <div class="row">

        @if (Convert.ToInt32(Session["RoleId"]) == 1 || Convert.ToInt32(Session["RoleId"]) == 2|| Convert.ToInt32(Session["RoleId"]) == 6)
        { <div class="col-md-4">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(modelItem => modelItem.UserCount)</div>
                                <div>Total Users!</div>
                            </div>
                        </div>
                    </div>
                    @if (Convert.ToInt32(Session["RoleId"]) == 1)
                {
                        <a href="@Url.Action("UserList", "UsersManagement")" title="View Details">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                }
                    @if (Convert.ToInt32(Session["RoleId"]) == 2|| Convert.ToInt32(Session["RoleId"]) == 6)
                    {
                        <a href="@Url.Action("OrgUserList", "UsersManagement", new { id = orgid })" title="View Details">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>

                }
                </div>
            </div>

            if (Convert.ToInt32(Session["RoleId"]) == 1)
            {
            <div class="col-md-4">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(modelItem => modelItem.IndividualCount)</div>
                                <div>Individual Users!</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("UserList","UsersManagement")" title="New Registration Of Individual Users">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@Html.DisplayFor(modelItem => modelItem.CompanyUserCount)</div>
                                <div>New Companies!</div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("OrganizationList","UsersManagement")" title="New Registration Of Companies">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                    </a>
                </div>
            </div>
        }
        }

       

@if (Convert.ToInt32(Session["RoleId"]) == 3)
{
    <div class="col-md-4">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Html.DisplayFor(modelItem => modelItem.MonthlyDocumentCount)</div>
                        <div>This Month Orders!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
}
        @if (Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 5|| Convert.ToInt32(Session["RoleId"]) == 6)
        {
                            <div class="col-md-4">
                                <div class="panel panel-custom">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-support fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@Html.DisplayFor(modelItem => modelItem.TotalDocumentCountOrg)</div>
                                                <div>Total Documents!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("FormsHistory", "DocumentManagement")" title="View Details">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-custom">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-support fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@Html.DisplayFor(modelItem => modelItem.MonthlyDocumentCount)</div>
                                                <div>Monthly Documents!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("FormsHistory", "DocumentManagement")" title="View Details">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

        }
       


    </div>
    <div class="row">
        <!-- Total Documents Created All Categories, Sub and SubSub Categories -->
        @if (Convert.ToInt32(Session["RoleId"]) == 1 || Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 3|| Convert.ToInt32(Session["RoleId"]) == 6)
        {
            <div class="well bs-component">
                <fieldset>
                    <legend>Total Documents Created</legend>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i>Category
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>

                                                @foreach (var items in Model.getCategoriesOrgUsersTotalCount)
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @if (Convert.ToInt32(Session["RoleId"]) == 1)
                                                            {
                                                                if (items.TotalCount > 0)
                                                                {
                                                                    <a href="@Url.Action("AllFilledFormsList","DocumentManagement", new { id = 1 })">
                                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => items.TotalCount)
                                                                }
                                                            }
                                                            @if (Convert.ToInt32(Session["RoleId"]) == 2|| Convert.ToInt32(Session["RoleId"]) == 6)
                                                            {
                                                                if (items.TotalCount > 0)
                                                                {
                                                                    <a href="@Url.Action("AllFilledFormsList","DocumentManagement", new { id = 1,@orgId=1 })">
                                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => items.TotalCount)
                                                                }
                                                            }
                                                            @if (Convert.ToInt32(Session["RoleId"]) == 5|| Convert.ToInt32(Session["RoleId"]) == 3)
                                                            {
                                                                if (items.TotalCount > 0)
                                                                {
                                                                    <a href="@Url.Action("FormsHistory","DocumentManagement", new { id=1})">
                                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => items.TotalCount)
                                                                }
                                                            }
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Sub Category
                                </div>
                                <div class="panel-body">

                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getSubCategoriesOrgUsersTotalCount)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => items.CategoryName)
                                            </td>
                                            <td>
                                                @if (Convert.ToInt32(Session["RoleId"]) == 1)
                                                {
                                                    if (items.TotalCount > 0)
                                                    {
                                                        <a href="@Url.Action("AllFilledFormsList","DocumentManagement", new { id = 2 })">
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                    }
                                                    
                                                    }
                                                @if (Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 6)
                                                {
                                                    if (items.TotalCount > 0)
                                                    {
                                                        <a href="@Url.Action("AllFilledFormsList","DocumentManagement", new { id = 1,@orgId=2 })">
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                    }
                                                    
                                                    }
                                                @if (Convert.ToInt32(Session["RoleId"]) == 5)
                                                {
                                                    if (items.TotalCount > 0)
                                                    {
                                                        <a href="@Url.Action("FormsHistory","DocumentManagement", new { id=2})">
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                    }
                                                  
                                                    }
                                            </td>
                                        </tr>
                                        }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Sub Sub Category
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getSubSubCategoriesOrgUsersTotalCount)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @if (Convert.ToInt32(Session["RoleId"]) == 1)
                                                            {
                                                                if (items.TotalCount > 0)
                                                                {
                                                                    <a href="@Url.Action("AllFilledFormsList","DocumentManagement", new { id = 3 })">
                                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => items.TotalCount)
                                                                }
                                                               
                                                            }
                                                            @if (Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 6)
                                                            {
                                                                if (items.TotalCount > 0)
                                                                {
                                                                    <a href="@Url.Action("AllFilledFormsList","DocumentManagement", new { id = 1,@orgId=3 })">
                                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => items.TotalCount)
                                                                }
                                                               
                                                            }
                                                            @if (Convert.ToInt32(Session["RoleId"]) == 5)
                                                            {
                                                                if (items.TotalCount > 0)
                                                                {
                                                                    <a href="@Url.Action("FormsHistory","DocumentManagement", new { id=3})">
                                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    @Html.DisplayFor(modelItem => items.TotalCount)
                                                                }

                                                               
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


        }

        @if (Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 3 || Convert.ToInt32(Session["RoleId"]) == 5) //Monthly Categorywise
        {
            <div class="well bs-component">
                <fieldset>
                    <legend>Documents Created Month Of <span id="Currentmonthname"></span></legend>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Category
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getCategoriesOrgUsersCurrnetMonthTotalCount)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => items.CategoryName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => items.TotalCount)
                                                    </td>
                                                </tr>

                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Subcategory
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getSubCatOrgUsersCurrnetMonthTotalCount)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Subcategory
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getSubSubCatOrgUsersCurrnetMonthTotalCount)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </fieldset>
            </div>
        }

        @if (Convert.ToInt32(Session["RoleId"]) == 1) 
        {
            //Current Month total For Eeach Category, SubCategory and SubSubCategory
            <div class="well bs-component">
                <fieldset>
                    <legend>Documents Created Month Of <span id="Currentmonthname"></span></legend>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Category
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getCategoriesCurrnetMonthTotalCount)
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Subcategory
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getSubCatCurrnetMonthTotalCount)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Subcategory
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.getSubSubCatCurrnetMonthTotalCount)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.CategoryName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.TotalCount)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </fieldset>
            </div>

            //Due Diligence Enquiry Count total and monthly total
            @*<div class="well bs-component">
                <fieldset>
                    <legend>Due Diligence Enquiry </legend>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Category
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.DueEnquiryCount)
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.EnquiryType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.newEQTotal)
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Enquiry Of<span id="Currentmonthname1"></span>
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.DueEnquiryMonthCount)
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.EnquiryType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.newEQTotal)
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-fw"></i> Invoices For Month Of <span id="Currentmonthname2"></span>
                                </div>
                                <div class="panel-body">
                                    <div class="scrollable-table">
                                        <table class="table">
                                            <tbody>
                                                @foreach (var items in Model.displayInvoiceThisMonth)
                                                {

                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.EnquiryType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => items.Total)
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                    <div class="row">

                    </div>
                </fieldset>
            </div>*@
       
            <div class="well bs-component">

                <fieldset>
                    <legend>Total Document By Organization</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="scrollable-table">
                                <table class="table table-striped table-hover dataTable table-custom-border">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Organization Name</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int rowNo = 0;}
                                        @foreach (var items in Model.getDocumentCountPerOrg)
                                        {
                                            rowNo = rowNo + 1;
                                            <tr>
                                                <td>@rowNo</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => items.OrgName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => items.TotalDocumentCount)
                                                </td>
                                            </tr>

                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div id="chart">
                            @*@Model.OrgCategoryChart.Write(format: "png")*@
                        </div>
                        <div id="page-wrapper">
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel-body">
                                        <div id="morris-bar-chart"></div>
                                    </div>
                                </div>
                               
                            </div>
                            <!-- /.row -->
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="morris-Line-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="morris-Line-chart2"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
         }
                    </div>

                </div>
        

@Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
<script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>


                <script type="text/javascript">

                    $(document).ready(function () {
                        PasswordAlert();
                    });

                    function PasswordAlert() {

                        $.ajax({
                            url: '@Url.Content("~/Login/CheckPasswordResetAlert")',
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) { 
                                if(result!=0)
                                {
                                    alert('Your password will get expire after '+result+' days,so please change your password.')
                                } },
                        });
                    }


                    function monthname() {
                        var d = new Date();
                        var month = new Array();
                        month[0] = "January";
                        month[1] = "February";
                        month[2] = "March";
                        month[3] = "April";
                        month[4] = "May";
                        month[5] = "June";
                        month[6] = "July";
                        month[7] = "August";
                        month[8] = "September";
                        month[9] = "October";
                        month[10] = "November";
                        month[11] = "December";
                        var n = month[d.getMonth()];
                        return n;
                    }
                    var sAdmin = false;
                    var invoice = false;
                    var usrId = null;
                     @if (Convert.ToInt32(Session["RoleId"]) == 1 || Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 3)
                    {
                        @:invoice = true;
                    }

                    @if (Convert.ToInt32(Session["RoleId"]) == 2 || Convert.ToInt32(Session["RoleId"]) == 3)
                    {
                        @:usrId = @Session["UserId"];
                    }
                   
                    @if (Convert.ToInt32(Session["RoleId"]) == 1)
                    {                      
                       @: sAdmin = true;
                    }
                   
                   
                    document.getElementById("Currentmonthname").innerHTML = monthname();

                   
                   

                    function GraphBar() {
                        var json = null;
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Content("~/DocumentManagement/GetOrgBarChart")',
                            dataType: 'json',
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            data: {},
                            success: function (result) {
                                json = result;
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                        return json;
                    }

                   

                    function GraphLine() {
                        var json1 = null;
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Content("~/DocumentManagement/GetCompanyUsersCount")',
                            dataType: 'json',
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            backgroundColor: '#ccc',
                            labelColor: '#A50000',
                            barColors: ['#888'],
                            data: {},
                            success: function (result) {
                                json1 = result;
                                //alert(json1);
                            },

                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                        return json1;
                    }

                    if (sAdmin == true) {

                        // Graph

                        $('#morris-bar-chart').html(''); // clear previous chart
                        var json = GraphBar(); // get data for this chart calling function 'GraphDonut'
                        // Create new donut chart and bind json response to the data option of this chart (var _chart);
                        //alert(json);
                        var _chart = new Morris.Bar({
                            element: 'morris-bar-chart',
                            data: json,
                            xkey: 'OrganizationType',
                            ykeys: ['NewCount'],
                            labels: ['TotalCount'],
                            backgroundColor: '#ccc',
                            labelColor: '#A50000',
                            barColors: ['#888'],
                            xLabelsDiagonal: true,
                            xLabelAngle: 35,
                            resize: true
                        });

                        $('#morris-Line-chart').html(''); // clear previous chart
                        var json1 = GraphLine(); // get data for this chart calling function 'GraphDonut'
                        // Create new donut chart and bind json response to the data option of this chart (var _chart);
                        //alert(json);
                        var _chart = new Morris.Line({
                            element: 'morris-Line-chart',
                            data: json1,
                            xkey: 'Company',
                            ykeys: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                            xLabelsDiagonal: true,
                            xLabelAngle: 30,
                            parseTime: false,
                            lineColors: ['#555', '#888','#F0F0F0','#333', '#ffffff'],
                           
                            resize: true
                        });

                        $('#morris-Line-chart2').html(''); // clear previous chart
                        var json2 = GraphIndividual(); // get data for this chart calling function 'GraphDonut'
                        // Create new donut chart and bind json response to the data option of this chart (var _chart);
                        //alert(json);
                        var _chart = new Morris.Line({
                            element: 'morris-Line-chart2',
                            data: json2,
                            xkey: 'mymonth',
                            ykeys: ['Total'],
                            labels: ['Individual User Registered'],
                            xLabelsDiagonal: true,
                            xLabelAngle: 30,
                            lineColors: ['#555', '#888'],
                            parseTime: false,
                            resize: true
                        });
                    }


                    function GraphIndividual() {
                        var json2 = null;
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Content("~/DocumentManagement/GetIndividualUsersCount")',
                            dataType: 'json',
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            data: {},
                            success: function (result) {
                                json2 = result;
                                //alert(json1);
                            },
                            error: function (xhr, status, error) {
                                alert(error);
                            }
                        });
                        return json2;
                    }

                   

                   
                    if (invoice == true) {
                        $('#morris-Line-chart3').html(''); // clear previous chart
                        var json3 = GraphInvoiceFiveMonth(); // get data for this chart calling function 'GraphInvoiceFiveMonth'
                        var _chart = new Morris.Line({
                            element: 'morris-Line-chart3',
                            data: json3,
                            xkey: 'MnthName',
                            ykeys: ['Amount'],
                            labels: ['Invoice'],
                            xLabelsDiagonal: true,
                            xLabelAngle: 30,
                            parseTime: false,
                            resize: true
                        });

                        function GraphInvoiceFiveMonth() {
                           // alert(invoice);
                            var json3 = null;
                            $.ajax({
                                type: 'GET',
                                url: '@Url.Content("~/DocumentManagement/GetInvoiceLastFiveMonths")',
                                dataType: 'json',
                                async: false,
                                contentType: "application/json; charset=utf-8",
                                data: { userId: usrId },
                                success: function (result) {
                                    json3 = result;
                                   // alert(json3);
                                },
                                error: function (xhr, status, error) {
                                    alert(error);
                                }
                            });
                            return json3;
                        }
                    }




                </script>
