﻿@model VirtualAdvocate.Models.EditServiceModel

@{
    ViewBag.MenuActive = "Service";
   
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Edit Client</h2>

@using (Html.BeginForm("EditService", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" , onsubmit = "showProgress()" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info navbar-right" id="addFields"> Add More Fields</button>
                    </div>
                    <legend>Client</legend>

                   
                    <div class="col-lg-12">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.ID)

                            @Html.Label("Client", new { @class = "col-lg-3 control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.Service, new { @class = "form-control col-lg-6" })
                                @Html.ValidationMessageFor(m => m.Service, string.Empty, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Client Description", new { @class = "col-lg-3 control-label" })
                            <div>
                                @Html.TextBoxFor(m => m.ServiceDescription, new { @class = "form-control col-lg-6" })
                            </div>
                        </div>

                        @if (Model.extraFields.Count() > 0)
                        {
                            @Html.Action("GetCustomerTempltePartialView", "DocumentManagement", new { clientID = Model.ID })
                        }
                        else
                        {
                            <div>

                                @Html.Label("Add Customer Template", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    @Html.Action("GetCustomerPartialView", "DocumentManagement")


                                </div>
                            </div>
                        }


                        <div id="divPartialView">
                        </div>
                    </div>



                        @Html.Hidden("Count", Model.extraFields.Count())
                   
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
                <div class="">
                    <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("AccountServiceList","DocumentManagement")'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
<script type="text/javascript">
        $(document).ready(function () {

            $("#extraFields_0__KeyName").val("Name");
            //$("#extraFields_0__KeyName").attr("disabled", "disabled");
        });
</script>
    <script>

        jQuery('#Service').change('input', function() {
            debugger;
            var test=@Html.Raw(Json.Encode(Model.Service));
            if(test!=$(this).val())
            {
                 CallService($(this).val());
                
            }
        });

        function CallService(id) {
            showProgress();
            $.ajax({
                url: '@Url.Action("CheckServiceName", "DocumentManagement")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: { 'Service': id },
                success: function (result) {
                    if(result==true)
                    {$('#Service').val("");
                    alert("Client is already exist");

                       
                    }
                },
                error: function () {
                    alert('Error occured');
                }
            });
        } 

        if(parseInt(document.getElementById("Count").value,10)==0)
            var index=1
        else
        var index =parseInt(document.getElementById("Count").value,10);



        $("#addFields").click(function () {
            debugger;
            showProgress();
            $.ajax({
                url: '@Url.Action("GetCustomerPartialView", "DocumentManagement")',
                data: { index: index },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    index = parseInt(index) + 1;
                    SetData(data);
                }
            });
        });

        function SetData(data) {
       
            $("#divPartialView").append(data); // HTML DOM replace
        }

        function RemoveRow(element) {
          
            $(element).parents("div.divElementSet:first").remove();
         
            return false;
        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}