﻿@model VirtualAdvocate.Models.CustomerDetailsModel
@{
    //ViewBag.Title = "EditCustomer";
    ViewBag.MenuActive = "Customers";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>EDIT CUSTOMER</h2>

@using (Html.BeginForm("EditCustomer", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" , onsubmit = "showProgress()" }))
{
                @Html.AntiForgeryToken()

                <div class="row">
        <div class="col-md-12">
            <button type="button" class="navbar-form navbar-right" id="addFields"> Add More Fields</button>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <legend>Edit Customer</legend>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.CustomerId)
                                @Html.Label("Customer Name", new { @class = "col-lg-6 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CustomerName, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Address", new { @class = "col-lg-6 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @rows = 3 })
                                    @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Email Address", new { @class = "col-lg-6 control-label" })
                                <div class="col-lg-6">                                  
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @disabled="disabled" })
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.Label("Bank Name", new { @class = "col-lg-6 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.BankName, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Account Number", new { @class = "col-lg-6 control-label" })
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AccountNumber, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @if (Model.extraFields.Count() > 0)
                        {
                            int i = 0;
                        <div id="divExtrafields" >
                            <legend>More Information</legend>

                            <div class="row">

                                <div class="col-lg-12">

                                    <div id="divPartialView">
                                        @foreach (VirtualAdvocate.Models.CustomerTemplateDetail item in Model.extraFields)
                                        {
                                            item.id = i;
                                            Html.RenderPartial("_AddCustomerExtraKeys", item);
                                            i++;
                                        }
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        else

                        {  <div id="divExtrafields" style="display:none">
                            <legend>More Information</legend>
                            <div id="divPartialView">
                            </div>
                        </div>
                            }
                        </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
                <div class="">
                    <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("CustomerList","DocumentManagement", new { id=Model.OrganizationId})'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        var index =@Model.extraFields.Count();
    $("#addFields").click(function () {
        showProgress();
            $.ajax({
                url: '@Url.Action("AddMoreFields", "DocumentManagement")',
                data: { id: index },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    index = index + 1;
                    SetData(data);
                }
            });
        });

        function SetData(data) {
          
            debugger;
            $("#divExtrafields").show();
            $("#divPartialView").append(data); // HTML DOM replace
        }

</script>
}


