﻿@model VirtualAdvocate.Models.EditTemplateKeywordModel
@{
    ViewBag.MenuActive = "Templatekey";
    //ViewBag.Title = "EditKeyValue";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>EDIT KEY VALUE</h2>
@using (Html.BeginForm("EditKeyValue", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form", onsubmit = "showProgress()" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <legend>Document Category</legend>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.Label("Key Category", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    @Html.DropDownListFor(model => model.TemplateKeyCategory, new SelectList(Model.getTemplateKeyCategory, "ID", "Name"), "-Select-", new { @class = "form-control col-lg-6" })
                                    @Html.ValidationMessageFor(model => model.TemplateKeyCategory, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.HiddenFor(model => model.TemplateKeyId)
                                @Html.Label("Template Key Value", htmlAttributes: new { @class = "col-lg-3 control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TemplateKeyValue, new { htmlAttributes = new { @class = "form-control col-lg-6", @readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.TemplateKeyValue, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.CheckBoxFor(model => model.MultipleKeys, false) MultiKeys
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Template Key Label", htmlAttributes: new { @class = "col-lg-3 control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TemplateKeyLabels, new { htmlAttributes = new { @class = "form-control col-lg-6" } })
                                    @Html.ValidationMessageFor(model => model.TemplateKeyLabels, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.CheckBoxFor(model => model.TextArea, false) Text Area
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Template Key Description", htmlAttributes: new { @class = "col-lg-3 control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TemplateKeyDescription, new { htmlAttributes = new { @class = "form-control col-lg-6" } })
                                    @Html.ValidationMessageFor(model => model.TemplateKeyDescription, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-lg-3">
                                    @Html.CheckBoxFor(model => model.BigTextArea, false) Big Text Area
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-3">

                                </div>
                                <div>
                                    @Html.CheckBoxFor(model => model.SecurityCheck, false) Security Alert
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default" value="Save Changes" />
                </div>
                <div class="">
                    <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("KeywordIndex","DocumentManagement")'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
