﻿@model VirtualAdvocate.Models.EditAssociatedKeygroupModel

@{
    ViewBag.MenuActive = "AssociatedKey";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

@using (Html.BeginForm("UpdateAssociatedKeys", "DocumentManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" , onsubmit = "showProgress()" }))
{
    <!-- DataTables CSS -->
    <link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/autocomplete.css")" rel="stylesheet" type="text/css" />

    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <fieldset>
                    <legend>Associated Key Group</legend>


                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group">
                                @Html.Label("Template Name", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })

                                <div>

                                    @Html.Label(Model.DocumentTitle, new { @class = "control-label" })

                                    @Html.HiddenFor(m => m.TemplateID)
                                    @Html.HiddenFor(m => m.GroupName)
                                    <div id="results" class="ui-autocomplete"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("GroupName", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    @Html.Label(Model.GroupName, new { @class = "control-label" })
                                    @Html.ValidationMessageFor(m => m.GroupName, string.Empty, new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group">
                                @Html.Label("Design Type", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    <label>

                                        @Html.RadioButtonFor(m => m.DesignType, "1") Table
                                    </label>
                                    <label>

                                        @Html.RadioButtonFor(m => m.DesignType, "2") Statement
                                    </label>
                                </div>
                            </div>
                            @if (Model.DesignType == "1")
                            {
                            <div class="form-group" id="divFirstColumn">
                                @Html.Label("Serial Number", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    <label>

                                        @Html.RadioButtonFor(m => m.FirstColumn, "First") First Column
                                    </label>
                                    <label>

                                        @Html.RadioButtonFor(m => m.FirstColumn, "All") All Column
                                    </label>
                                </div>
                            </div>
                            }
                            else
                            {  <div class="form-group" id="divFirstColumn" style="display:none">
                                @Html.Label("Serial Number", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    <label>

                                        @Html.RadioButtonFor(m => m.FirstColumn, "First") First Column
                                    </label>
                                    <label>

                                        @Html.RadioButtonFor(m => m.FirstColumn, "All") All Column
                                    </label>
                                </div>
                            </div>}

@if (Model.DesignType == "2")
{
    <div class="form-group" id="divStatementColumn">
        @Html.Label("Serial Number Starts From", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
        <div>
            <label>

                @Html.TextBoxFor(m => m.AutoNumberStartsFrom, new { @class = "form-control", @placeholder = "Title" })
                @Html.ValidationMessageFor(m => m.AutoNumberStartsFrom, string.Empty, new { @class = "text-danger" })
            </label>

        </div>
    </div>
}
else

{   <div class="form-group" id="divStatementColumn" style="display:none">
                                @Html.Label("Serial Number Starts From", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
                                <div>
                                    <label>

                                        @Html.TextBoxFor(m => m.AutoNumberStartsFrom, new { @class = "form-control", @placeholder = "Title" })
                                        @Html.ValidationMessageFor(m => m.AutoNumberStartsFrom, string.Empty, new { @class = "text-danger" })
                                    </label>

                                </div>
                            </div>   }
                            <div class="form-group">
                                @if (Model.templateKeyword != null)
                                {
                                    @Html.Partial("_TemplateKeys", Model.templateKeyword);
                                }

                          </div>
                        </div>
                    </div>
                </fieldset>
            </div>




            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-default" value="Group" id="btnSubmit" />
                    </div>
                    <div class="">
                        <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("AssociatedKeysGroup", "DocumentManagement")'">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/jqueryUI")
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            

            $('input[type=radio][name=DesignType]').change(function () {
                if (this.value == '1') {
                    $("#divFirstColumn").show();
                    $("#divStatementColumn").hide();

                }
                else if (this.value == '2') {
                    $("#divFirstColumn").hide();
                    $("#divStatementColumn").show();
                }
            });

            function isNumber(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            }

        });

      

    </script>
}
