﻿@model IEnumerable<VirtualAdvocate.Models.FilledFormDetailModel>
@{
    ViewBag.MenuActive = "FormsHistory";
    //ViewBag.Title = "Forms History";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>FILLED FORMS HISTORY</h2>

<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover dataTable table-custom-border" id="tblTemplateKeyList">
            <thead>
                <tr>
                    <th>#</th>

                    <th>
                       Customer
                    </th>
                    <th>
                       Document Title
                    </th>
                    <th>
                      Cost
                    </th>
                    <th>
                       Date Created
                    </th>
                    <th>Document</th>
                    <th>Cover Letter</th>
                    @*<th>#</th>*@
                </tr>
            </thead>
            <tbody>
                @{int rowNo = 0;
                    int tempGroupId=0;
                    var outlinecss = "";
                    var coverletter = 0;
                    }
                @foreach (var item in Model)
                {
                    rowNo = rowNo + 1;
                    if (rowNo == 1)
                    {
                        tempGroupId = item.GroupId;
                        coverletter = 1;
                    }
                    if (rowNo > 1)
                    {
                        if (item.GroupId != tempGroupId)
                        {

                            outlinecss = "outline-table";
                            coverletter = 1;
                        }
                        else { outlinecss = ""; }

                    }

                    <tr class="@outlinecss">
                        <td>@rowNo</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <a href="~/FilledTemplateFiles/@item.FilledTemplateName.Replace(".docx",".pdf")" target="_blank" title="Download" ><i class="fa fa-download"></i>Download</a>                          
                          
                        </td>
                        <td>
                            @if (coverletter == 1)
                            {
                                <a href="~/CoverLetter/@item.FilledTemplateName.Replace(".docx",".pdf")" target="_blank" title="Download"><i class="fa fa-download"></i>Download</a>
                            }                          

                        </td>
                        @*<td>@item.GroupId</td>*@
                    </tr>

                    tempGroupId = item.GroupId;
                    coverletter = 0;

                }
</tbody>
        </table>
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tblTemplateKeyList').DataTable({
                    "ordering": false,
                    responsive: true
                });

            });
            function ChangeStatus(id, msg) {

                var flag = confirm('Are you sure you want to ' + msg + ' this key value?');
                if (flag) {
                    showProgress();
                    $.ajax({
                        url: '@Url.Content("~/DocumentManagement/ActivateKeyValue")',
                        type: 'POST',
                        data: { id: id },
                        dataType: 'json',
                        success: function (result) { location.reload(); },
                        error: function () { alert('Error!'); }
                    });
                }
                return false;
            }

        // Hide sort option for Last column in data table

        //aoColumnDefs: [
        //                  {
        //                      bSortable: false,
        //                      aTargets: [-1]
        //                  }
        //              ]
    </script>
}
