﻿@model IEnumerable<VirtualAdvocate.Models.DocumentCategoryModel>
@{
    ViewBag.MenuActive = "DocumentManagement";
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>CATEGORY LIST</h2>
<hr />
<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddCategory", "DocumentManagement")'"><i class="fa fa-user-plus"></i> Add Category</button>
    </div>
    <div class="col-md-9">

        <div class="navbar-form navbar-right blue-color">
            @if (ViewBag.Enable == "Active")
            {
                <input type="radio" name="editList" id="Active" value="Active" checked="checked" />
                <label for="Active" class="radio-color">Active</label>

                <input type="radio" name="editList" id="Inactive" value="Inactive" />
                <label for="Inactive" class="radio-color">In active</label>
            }
            else
            {
                <input type="radio" name="editList" id="Active" value="Active" />
                <label for="Active" class="radio-color">Active</label>

                    <input type="radio" name="editList" id="Inactive" value="Inactive" checked="checked" />
                    <label for="Inactive" class="radio-color">In active</label>
            }


        </div>

        <div class="navbar-form navbar-right" role="search">
        </div>

    </div>
</div>

<table class="table table-striped table-hover dataTable table-custom-border" id="tblCategoryList">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayName("Category Name")</th>
            <th>@Html.DisplayName("Description")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
        @foreach (var item in Model)
        {
            rowNo = rowNo + 1;
            var css = "";
            var ustatus = "";
            var msg = "";
            if (item.IsEnabled == true)
            {
                css = "glyphicon glyphicon-ok green-color";
                ustatus = "Active";
                msg = "deactivate";
            }
            else
            {
                css = "glyphicon glyphicon-remove red-color";
                ustatus = "Inactive";
                msg = "activate";
            }
            
            <tr>
                <td>@rowNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentCategoryDescription)
                </td>               
                <td  class="list-action">
                    <a href="@Url.Action("EditCategory","DocumentManagement",new { id = item.DocumentCategoryId })" title="Edit" class="fa fa-edit gray-color"></a>&nbsp;|
                    &nbsp;                  
                    <a href="javascript:;" name="Edit" title="@ustatus" class="@css" onclick="ChangeStatus(@item.DocumentCategoryId,'@msg')"></a>
                    |
                    <a href="@Url.Action("SubCategoryList", "DocumentManagement", new { id = item.DocumentCategoryId })" title="Sub Category List" class="glyphicon glyphicon-th-list gray-color"></a>|
                    <a onclick="DeleteCategory(@item.DocumentCategoryId)" title="Delete" class="glyphicon glyphicon-trash"></a>
                </td>
            </tr>

        }

    </tbody>
</table>


@section Scripts {
@Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">


         $(document).ready(function () {
             $('#tblCategoryList').DataTable({
                "dom": '<"top"f>rt<"bottom"lp><"clear">',
                responsive: true
            });
        });
              
                //$(document).ready(function () {
                //    $('#tblCategoryList').DataTable({
                //        "dom": '<"top"f>rt<"bottom"lp><"clear">',
                //        responsive: true
                //    });

                //});


        function ChangeStatus(id, msg) {

            var proceed = false;
            if (msg == "activate") {
                showProgress();
                $.ajax({
                    url: '@Url.Content("~/DocumentManagement/DocumentCategoryActivation")',
                    type: 'POST',
                    data: { id: id },
                    dataType: 'json',
                    success: function (result) {
                        if (result) {
                            bootbox.confirm({
                                title: 'Company User Activate / Deactivate',
                                message: 'Are you sure you want to ' + msg + ' this category?',
                                buttons: {
                                    'cancel': {
                                        label: 'No',
                                        className: 'btn-cancel pull-left'
                                    },
                                    'confirm': {
                                        label: 'Yes',
                                        className: 'btn-default pull-right'
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        showProgress();
                                        $.ajax({
                                            url: '@Url.Content("~/DocumentManagement/ActivateCategory")',
                                            type: 'POST',
                                            data: { id: id },
                                            dataType: 'json',
                                            success: function (result) { location.reload(); },
                                            error: function () { alert('Error!'); }
                                        });
                                    }
                                }
                            });
                        }

                        else {
                            alert("Please assign Service before activating Category!");
                        }

                    },
                    error: function () { alert('Error!'); }
                });
            }

            else {
                bootbox.confirm({
                                title: 'Company User Activate / Deactivate',
                                message: 'Are you sure you want to ' + msg + ' this category?',
                                buttons: {
                                    'cancel': {
                                        label: 'No',
                                        className: 'btn-cancel pull-left'
                                    },
                                    'confirm': {
                                        label: 'Yes',
                                        className: 'btn-default pull-right'
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        showProgress();
                                        $.ajax({
                                            url: '@Url.Content("~/DocumentManagement/ActivateCategory")',
                                            type: 'POST',
                                            data: { id: id },
                                            dataType: 'json',
                                            success: function (result) { location.reload(); },
                                            error: function () { alert('Error!'); }
                                        });
                                    }
                                }
                            });
            }
        }

        function DeleteCategory(id) {
            bootbox.confirm({
                title: 'Delete Category',
                message: 'If you delete this Category,all the data associated with this Category will be deleted. Still you want to delete this Category?',
                buttons: {
                    'cancel': {
                        label: 'No',
                        className: 'btn-cancel pull-left'
                    },
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-default pull-right'
                    }
                },
                callback: function (result) {
                    if (result) {
                        showProgress();
                        $.ajax({
                            url: '@Url.Content("~/DocumentManagement/DeleteCategory")',
                            type: 'POST',
                            data: { id: id },
                            dataType: 'json',
                            success: function (result) { location.reload(); },
                            error: function () { alert('Error!'); }
                        });
                    }
                }
            });
        }

        $("input[name='editList']").change(function () {

            var enable = $("input[name='editList']:checked").val();

            var url = '@Url.Content("~/DocumentManagement/Index")' + '?enable=' + enable;

            location.href = url;

        });

    </script>
}
