﻿@model IEnumerable<VirtualAdvocate.Models.TemplateKeyword>
@{
    ViewBag.MenuActive = "Templatekey";
    //ViewBag.Title = "TEMPLATE KEY LIST";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>TEMPLATE KEY LIST</h2>

<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddKeyValue", "DocumentManagement")'"><i class="fa fa-user-plus"></i> Add Template Key</button><br />
        @Html.Label("Key Categories", htmlAttributes: new { @class = "col-lg-3 control-label", @maxlength = 10 })
        @Html.DropDownList("Id", (IEnumerable<SelectListItem>)ViewBag.Categories)
    </div>
</div>
<div class="row">

   
    <div class="col-md-12">

        <table class="table table-striped table-hover dataTable table-custom-border" id="tblTemplateKeyList">
            <thead>
                <tr>
                    <th>#</th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateKeyValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateKeyLabels)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TemplateKeyDescription)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{int rowNo = 0;}
                @foreach (var item in Model)
                {
                    rowNo = rowNo + 1;
                    var css = "";
                    var ustatus = "";
                    var msg = "";
                    if (item.IsEnabled == true)
                    {
                        css = "glyphicon glyphicon-ok green-color";
                        ustatus = "Active";
                        msg = "deactivate";
                    }
                    else
                    {
                        css = "glyphicon glyphicon-remove red-color";
                        ustatus = "Inactive";
                        msg = "activate";
                    }
                    <tr>
                        <td>@rowNo</td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateKeyValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateKeyLabels)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TemplateKeyDescription)
                        </td>
                        <td>
                            <a href="@Url.Action("EditKeyValue","DocumentManagement",new { id = item.TemplateKeyId })" title="Edit" class="fa fa-edit gray-color"></a>&nbsp;|
                            &nbsp;
                            <a href="javascript:void(0);" title="@ustatus" class="@css" onclick="ChangeStatus(@item.TemplateKeyId,'@msg')"></a>|
                            <a onclick="DeleteTemplate(@item.TemplateKeyId)" title="Delete" class="glyphicon glyphicon-trash" href="javascript:void(0);"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('#tblTemplateKeyList').DataTable({
                    responsive: true
                });

            });

            function ChangeStatus(id, msg) {
                bootbox.confirm({
                    title: 'Template key Activate / Deactivate',
                    message: 'Are you sure you want to ' + msg + ' this key value?',
                    buttons: {
                        'cancel': {
                            label: 'No',
                            className: 'btn-danger pull-left'
                        },
                        'confirm': {
                            label: 'Yes',
                            className: 'btn-success pull-right'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Content("~/DocumentManagement/ActivateKeyValue")',
                                type: 'POST',
                                data: { id: id },
                                dataType: 'json',
                                success: function (result) { location.reload(); },
                                error: function () { alert('Error!'); }
                            });
                        }
                    }
                });
            }

            function DeleteTemplate(id, msg) {
                bootbox.confirm({
                    title: 'Delete Key',
                    message: 'Are you sure you want to delete this key?',
                    buttons: {
                        'cancel': {
                            label: 'No',
                            className: 'btn-danger pull-left'
                        },
                        'confirm': {
                            label: 'Yes',
                            className: 'btn-success pull-right'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Content("~/DocumentManagement/DeleteKeyword")',
                                type: 'POST',
                                data: { id: id },
                                dataType: 'json',
                                success: function (result) { location.reload(); },
                                error: function () { alert('Error!'); }
                            });
                        }
                    }
                });
            }
    </script>
}