﻿@model VirtualAdvocate.Models.ManualInvoiceModel
@{
    ViewBag.MenuActive = "ManualInvoice";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>MANUAL INVOICE</h2>

<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("ManualInvoice", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal" , onsubmit = "showProgress()" }))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            <fieldset>
                <legend>Documents List</legend>
                <div class="form-group">
                    <div class="col-lg-12 form-inline">
                        <table class="table table-striped table-hover dataTable table-custom-border" id="tblTemplateList">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@Html.DisplayName("Template Name")</th>                                   
                                    <th>@Html.DisplayName("Cost")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int rowNo = 0;}
                                @foreach (var item in Model.getManualList)
                                {
                                    rowNo = rowNo + 1;
                                   
                                    <tr>
                                        <td>@rowNo</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentTitle)
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DocumentCost)
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>                     
                    </div>
                </div>
            </fieldset>          
        </div>
    </div>
    <div class="col-lg-12" >
        <div class="well bs-component">
            <fieldset>
                <legend>New Amount For Invoice</legend>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.HiddenFor(m => m.CustomerId)
                            @Html.HiddenFor(m => m.GroupId)
                            @Html.Label("Total Amount", new { @class = "col-lg-6 control-label" })
                            <div class="col-lg-6">
                                @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @placeholder = "Total Amount", @maxlength = 10 })
                                @Html.ValidationMessageFor(m => m.TotalAmount, string.Empty, new { @class = "text-danger" })
                                
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-2">
                <input type="submit" class="btn btn-default" value="Generate" id="btnSubmit" />
            </div>
            <div class="">
                <button type="button" value="Cancel" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("InvoiceList","DocumentManagement")'">Cancel</button>
            </div>
        </div>
    </div>
</div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
                $(document).ready(function () {
                    $('#tblTemplateList').DataTable({
                        "dom": '<"top"f>rt<"bottom"lp><"clear">',
                        responsive: true
                    });

                });
</script>
}