﻿@model IEnumerable<VirtualAdvocate.Models.DocumentSubCategory>
@{
    ViewBag.MenuActive = "DocumentManagement";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>SUB CATEGORY LIST</h2>
<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-3">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddSubCategory", "DocumentManagement",new { id= TempData["SubCategoryId"] })'"><i class="fa fa-user-plus"></i> Add Sub Category</button>
    </div>
    <div class="col-md-9">
        <div class="navbar-form navbar-right" role="search">
        </div>

    </div>
</div>

<table class="table table-striped table-hover dataTable table-custom-border" id="tblCategoryList">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayName("Sub Category Name")</th>
            <th>@Html.DisplayName("Description")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
        @foreach (var item in Model)
        {
            rowNo = rowNo + 1;
            var css = "";
            var ustatus = "";
            var msg = "";
            if (item.IsEnabled == true)
            {
                css = "glyphicon glyphicon-ok green-color";
                ustatus = "Active";
                msg = "deactivate";
            }
            else
            {
                css = "glyphicon glyphicon-remove red-color";
                ustatus = "Inactive";
                msg = "activate";
            }
            <tr>
                <td>@rowNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentSubCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryDescription)
                </td>
                <td>
                    <a href="@Url.Action("EditSubCategory","DocumentManagement",new { id = item.DocumentSubCategoryId })" title="Edit" class="fa fa-edit gray-color"></a>&nbsp;|
                    &nbsp;
                    <a href="javascript:;" name="Edit" title="@ustatus" class="@css" onclick="ChangeStatus(@item.DocumentSubCategoryId,'@msg')"></a>
                    |
                    <a href="@Url.Action("SubSubCategoryList", "DocumentManagement", new { id = item.DocumentSubCategoryId })" title="Sub Category List" class="glyphicon glyphicon-th-list gray-color"></a>
                </td>
            </tr>

        }

    </tbody>
</table>
<div class="row">
    <div class="col-lg-12">
        <div class="">
            <button type="button" value="Back" class="btn btn-cancel" id="btncancel" onclick="location.href='@Url.Action("Index","DocumentManagement")'">Back</button>
        </div>
    </div>
</div>

@section Scripts {

   @Scripts.Render("~/bundles/bootbox")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/unobtrusive")
<script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
                $(document).ready(function () {
                    $('#tblCategoryList').DataTable({
                        "dom": '<"top"f>rt<"bottom"lp><"clear">',
                        responsive: true
                    });

                });
                function ChangeStatus(id,msg)
                {
                    var proceed = false;
                    if (msg == "activate")
                    {
                        showProgress();
                        $.ajax({
                            url: '@Url.Content("~/DocumentManagement/DocumentSubCategoryActivation")',
                            type: 'POST',
                            data: { id: id },
                            dataType: 'json',
                            success: function (result) {
                                if (result) {
                                    var flag = confirm('Are you sure you want to ' + msg + ' this sub category?');
                                    if (flag) {
                                        $.ajax({
                                            url: '@Url.Content("~/DocumentManagement/ActivateSubCategory")',
                                            type: 'POST',
                                            data: { id: id },
                                            dataType: 'json',
                                            success: function (result) { location.reload(); },
                                            error: function () { alert('Error!'); }
                                        })
                                    }
                                }
                                else {
                                    alert("Please assign Category before activating Subcategory!");
                                }
                            },
                            error: function () { alert('Error!'); }
                        });
                    }

                   else {

                        var flag = confirm('Are you sure you want to ' + msg + ' this sub category?');
                        if (flag) {
                            showProgress();
                            $.ajax({
                                url: '@Url.Content("~/DocumentManagement/ActivateSubCategory")',
                                type: 'POST',
                                data: { id: id },
                                dataType: 'json',
                                success: function (result) { location.reload(); },
                                error: function () { alert('Error!'); }
                            });
                        }
                    }
                   
                    return false;
                }
    </script>
}


