﻿@model IEnumerable<VirtualAdvocate.Models.DocumentTemplateListModel>
@{
    ViewBag.MenuActive = "Templates";
    //ViewBag.Title = "VIRTUAL ADVOCATE";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>UPLOAD DOCUMENT</h2>

<!-- DataTables CSS -->
<link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
<!-- DataTables Responsive CSS -->
<link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
<div class="row">

    @if (TempData["Error"] != null)
    {
        <div class="alert">
            <strong>@TempData["Error"].ToString()</strong>
        </div>
    }

    <div class="col-md-3">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("UploadDocument", "DocumentManagement")'"><i class="fa fa-user-plus"></i> Add Template</button>
    </div>


    <div class="col-md-9">
        <div class="navbar-form navbar-right blue-color">
            @if (ViewBag.Enable == "Active")
            {
                <input type="radio" name="editList" id="Active" value="Active" checked="checked" />
                <label for="Active">Active</label>

                <input type="radio" name="editList" id="Inactive" value="Inactive" />
                <label for="Inactive">In active</label>
            }
            else
            {
                <input type="radio" name="editList" id="Active" value="Active" />
                <label for="Active">Active</label>

                    <input type="radio" name="editList" id="Inactive" value="Inactive" checked="checked" />
                    <label for="Inactive">In active</label>
            }

        </div>
        <div class="navbar-form navbar-right" role="search">
        </div>

    </div>
</div>
@using (Html.BeginForm("deleteMultipleDocuments", "DocumentManagement", FormMethod.Post))
{
   
<table class="table table-striped table-hover dataTable table-custom-border" id="tblTemplateList">
    <thead>
        <tr>
            <th><input name="select_all" value="1" type="checkbox"></th>
            <th>#</th>
            <th>@Html.DisplayName("Template Name")</th>
            <th>@Html.DisplayName("Category")</th>
            @*<th>@Html.DisplayName("Associated Template")</th>*@
            <th>@Html.DisplayName("File Name")</th>
            <th>@Html.DisplayName("Cost")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{int rowNo = 0;}
        @foreach (var item in Model)
        {
            rowNo = rowNo + 1;
            var css = "";
            var ustatus = "";
            var msg = "";
            if (item.IsEnabled == true)
            {
                css = "fa fa-check green-color list-anchor";
                ustatus = "Active";
                msg = "deactivate";
            }
            else
            {
                css = "fa fa-close red-color";
                ustatus = "Inactive";
                msg = "activate";
            }
            <tr>
                <td>
                    <input type="checkbox" name="docID" id="docID" value=@item.TemplateId />
                </td>  
                <td>@rowNo</td>
                <td>
                    @Html.DisplayFor(modelItem => item.TemplateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentCategory)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AssociatedDocument)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentFileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td class="list-action">
                    <a href="@Url.Action("EditTemplates", "DocumentManagement", new { id = item.TemplateId })" title="Edit" class="fa fa-edit list-anchor gray-color"></a>&nbsp;|
                  
                    &nbsp;
                    <a href="javascript:void(0);"  title="@ustatus" class="@css" onclick="ChangeStatus(@item.TemplateId,'@msg')"></a>|
                    <a onclick="DeleteTemplate(@item.TemplateId)" title="Delete" class="glyphicon glyphicon-trash"></a>

                    </td>
            </tr>

        }

    </tbody>
</table>

<input type="submit" value="Delete selected documents" class="btn btn-default" id="submit" disabled='disabled'/>
            }

@section Scripts {
@Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
                $(document).ready(function () {
                    $('#tblTemplateList').DataTable({
                        "dom": '<"top"f>rt<"bottom"lp><"clear">',
                        responsive: true
                    });

                });

                function ChangeStatus(id, msg) {

                    if (msg == "activate") {
                        showProgress();
                        $.ajax({
                            url: '@Url.Content("~/DocumentManagement/TemplateActivation")',
                            type: 'POST',
                            data: { id: id },
                            dataType: 'json',
                            success: function (result) {
                                if (result) {
                                    bootbox.confirm({
                                        title: 'Company User Activate / Deactivate',
                                        message: 'Are you sure you want to ' + msg + ' this template?',
                                        buttons: {
                                            'cancel': {
                                                label: 'No',
                                                className: 'btn-cancel pull-left'
                                            },
                                            'confirm': {
                                                label: 'Yes',
                                                className: 'btn-default pull-right'
                                            }
                                        },
                                        callback: function (result) {
                                            if (result) {
                                                showProgress();
                                                $.ajax({
                                                    url: '@Url.Content("~/DocumentManagement/ActivateTemplate")',
                                                    type: 'POST',
                                                    data: { id: id },
                                                    dataType: 'json',
                                                    success: function (result) { location.reload(); },
                                                    error: function () { alert('Error!'); }
                                                });
                                            }
                                        }
                                    });
                                }

                                else
                                {
                                    alert("Please assign Category before activating Template!");
                                }
                            }
                        });
                    }
                    else {
                        bootbox.confirm({
                                        title: 'Company User Activate / Deactivate',
                                        message: 'Are you sure you want to ' + msg + ' this template?',
                                        buttons: {
                                            'cancel': {
                                                label: 'No',
                                                className: 'btn-cancel pull-left'
                                            },
                                            'confirm': {
                                                label: 'Yes',
                                                className: 'btn-default pull-right'
                                            }
                                        },
                                        callback: function (result) {
                                            if (result) {
                                                showProgress();
                                                $.ajax({
                                                    url: '@Url.Content("~/DocumentManagement/ActivateTemplate")',
                                                    type: 'POST',
                                                    data: { id: id },
                                                    dataType: 'json',
                                                    success: function (result) { location.reload(); },
                                                    error: function () { alert('Error!'); }
                                                });
                                            }
                                        }
                                    });
                    }
                }

        // Handle click on "Select all" control
        $("input[name='select_all']").on('click', function (e) {
            var submit = document.getElementById('submit');
            var table = $('#tblTemplateList').DataTable();

            if (this.checked) {

                $(':checkbox', table.rows().nodes()).prop('checked', this.checked);
                submit.disabled = false;
                //  $('#tblTemplateKeyList tbody input[type="checkbox"]:not(:checked)').trigger('click');
            } else {
                submit.disabled = true;
                $(':checkbox', table.rows().nodes()).prop('checked', false);
                // $('#tblTemplateKeyList tbody input[type="checkbox"]:checked').trigger('click');
            }

            // Prevent click event from propagating to parent
            e.stopPropagation();
        });

        $('.check').change(function () {
            if ($('.check:checked').length) {
                $('#submit').removeAttr('disabled');
            } else {
                $('#submit').attr('disabled', 'disabled');
            }
        });

        function DeleteTemplate(id, msg) {
            bootbox.confirm({
                title: 'Delete Template',
                message: 'Are you sure you want to delete this template?',
                buttons: {
                    'cancel': {
                        label: 'No',
                        className: 'btn-cancel pull-left'
                    },
                    'confirm': {
                        label: 'Yes',
                        className: 'btn-default pull-right'
                    }
                },
                callback: function (result) {
                    if (result) {
                        showProgress();
                        $.ajax({
                            url: '@Url.Content("~/DocumentManagement/DeleteDocument")',
                            type: 'POST',
                            data: { id: id },
                            dataType: 'json',
                            success: function (result) { location.reload(); },
                            error: function () { alert('Error!'); }
                        });
                    }
                }
            });
        }
        $("input[name='editList']").change(function () {

            var enable = $("input[name='editList']:checked").val();

            var url = '@Url.Content("~/DocumentManagement/Templates")' + '?enable=' + enable;

            location.href = url;

        });

    </script>
}
