﻿
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Test</h2>
@using (Html.BeginForm("Test1", "DocumentManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" , onsubmit = "showProgress()" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-2">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    </div>
   }
@section Scripts{
@Scripts.Render("~/bundles/bootbox")
<script type="text/javascript">
    $('form').submit(function (e) {
       
        var currentForm = this;
        e.preventDefault();       
        bootbox.confirm("Do You Want Proceed?", "No", "Yes", function (result) {
            if (result = "Yes") {
                currentForm.submit();
            } else {
                return false;
            }
            console.log("Confirmed? " + result);
        });
       
    });
</script>
    }