﻿      @if (Session["UserId"] != null )
      {
          int id;
          var proActName = "ManageProfile";
          id = Convert.ToInt32(Session["UserId"]);
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("ChangePassword", "UsersRegistration", new { @id = Session["UserId"] })">Change Password</a>
    </li>
    <li>
        <a href="@Url.Action(proActName, "UsersManagement", new { @id = id })">Manage Profile</a>
    </li>
    @if (Convert.ToInt32(Session["RoleId"]) == 2)
    {
      
       int id1 = Convert.ToInt32(Session["OrgId"]);
        <li>
            <a href="@Url.Action("ManageOrganization", "UsersManagement", new { @id = id1 })">Company Profile</a>
        </li>
    }
       
   
    <li><a href="@Url.Action("LogOff", "UsersRegistration")" >Log Off</a></li>
</ul>
      }